@font-face {
    font-family: "Audrey";
    src: url("./Fonts/Audrey/Audrey-Normal.otf");
}
@font-face {
    font-family: "Audrey-Bold";
    src: url("./Fonts/Audrey/Audrey-Bold.otf");
}

@font-face {
    font-family: "Audrey-Medium";
    src: url("./Fonts/Audrey/Audrey-Medium.otf");
}

* {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4 {
    font-family: "Audrey";
}

.hero-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    h1 {
        font-size: 3.5rem;
        padding: 1rem;
    }
    h2 {
        text-transform: uppercase;
    }

    .hero-links {
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-top: 2rem;
        border-top: 2px solid rgba(212, 210, 210, 0.4);
        border-bottom: 2px solid rgba(212, 210, 210, 0.4);
        padding: 0.5rem;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        a {
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
        }
    }
    .hero-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    img {
        height: 100vh;
        transition: 0.3s all ease-in-out;
        width: 100%;
        object-fit: cover;
    }
    img:hover {
        filter: saturate(150%);
    }
}
//Gallery
.gallery-portfolio {
    text-align: center;
    font-size: 3rem;
    h1 {
        padding: 4rem 0 4rem 0;
    }
    .gallery-grid {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        margin: auto;
        gap: 1rem;
    }
    img {
        height: 800px;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }
    img:hover {
    }
}
